<div class="row">
<div class="small-2 large-4 columns">
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Duration:</b>
  <%= @movie.duration %>
</p>

<p>

<p>
  <b>Summary:</b>
  <%= @movie.summary %>
</p>

<p>
  <b>Genre:</b>
  <%= @movie.genre %>
</p>

<p>
  <b>Actors:</b>
  <%= @movie.actors %>
</p>

<%= image_tag @movie.movie_image.url %>
</div>
</div>
<center>
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
</center>
