</br></br></br></br></br></br></br></br>
<div class="row">
	<div class="large-9 small-centered columns">
<center>
<h1 class="title-prebooking">Show Information</h1>
<hr>

</div></div>
</center>

<p id="notice"><%= notice %></p>
<center>
	<div class="row">
	<div class="large-9 small-centered columns">
		<div class="panel">
<p class="prebooking-intro">
  Title:
  <%= @movie.title %>
</p>

<p class="prebooking-intro">
 Duration:
  <%= @movie.duration %>
</p>

<p>

<p class="prebooking-intro">
  Summary:
  <%= @movie.summary %>
</p>

<p class="prebooking-intro">
  Genre:
  <%= @movie.genre %>
</p>

<p class="prebooking-intro">
  <b>Actors:</b>
  <%= @movie.actors %>
</p>

<%= image_tag @movie.movie_image.url %>
</div></div></div>

</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
</center>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br>
