<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<<<<<<< HEAD

<%= f.hidden_field :customer_id, :value => @current_user.id %>
  <div class="field">
    <%= "Movie Details" %><br />
    <%= "Movie Title: " %> <%= @movie_details.title %><br />
    <%= "Movie Summary: " %> <%= @movie_details.summary %><br />
    <%= "Movie genre: " %> <%= @movie_details.genre %>
  </div>

<a> Movie is availabile in: </a> <br />
<table>
<tr>
<th>Cinema</th>
<th>Time</td>
<th>Date</td>
<th> </th>
</tr>
<% @shows.each do |show| %>

<td> <%= link_to show.cinema.name, :controller => "cinemas", :action => "show", :id => show.cinema.id %> </td> 
<td> <%= link_to show.show_time, :controller => "shows", :action => "show", :id => show.id %> </td> 
<td> <%= link_to show.show_date, :controller => "shows", :action => "show", :id => show.id %> </td> 
<td>  <%= link_to "Book", :controller => "seats", :action => "new", :show_id => show.cinema.id %> </td> 

<br />
</table>
<% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
=======
  <div class="row">
      <div class="large-12 columns">
        <label>Booking Date</label>
	   <%= f.date_select :booking_date, :class => 'medium' %>
      </div>
    </div>

  <div class="row">
      <div class="large-12 columns">
        <label>Customer ID</label>
    <%= f.number_field :customer_id %>
      </div>
    </div>

  <div class="row">
      <div class="large-12 columns">
        <label>Show Time</label>
     <%= f.time_select :show_time %>
      </div>
    </div>

  <div class="row">
      <div class="large-12 columns">
        <label>Movie ID</label>
    <%= f.number_field :movie_id %>
      </div>
    </div>


  <div class="row">
      <div class="large-12 columns">
        <label>Cinema ID</label>
    <%= f.number_field :cinema_id %>
      </div>
    </div>

  <div class="row">
      <div class="large-12 columns">
        <label>Payment ID</label>
    <%= f.number_field :payment_id %>
      </div>
    </div>


	<br/>
	<br/>
	<center>
	<input type="Submit" value="Submit" class="button"> 
	</center>
	<% end %>
>>>>>>> 204966b94ce8aea6ee5c4b83ef1e311de3024b2d
