
</br></br></br></br></br></br></br></br>
<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="panel">
<h1 class="title-prebooking">Movie Details</h1><hr>

	<div class="small-11 small-centered columns">

		<div class="row">
		<div class="small-3 columns">
		<div class="prebooking">
	      <%= image_tag @movie_details.movie_image.url %>
	<%= link_to 'Watch Trailer', @movie_details.link, :class => "button" %>
  	</div>
		</div>

<div class="small-8 columns">
<%= f.hidden_field :customer_id, :value => @current_user.id %>
<div class="field">
<h3><%= "Movie Title: " %></h3>
<p class="prebooking-intro"><%= @movie_details.title %></p>
<h3>Movie Summary:</h3>
<p class="prebooking-intro"><%= @movie_details.summary %></p>
<h3>Movie genre:</h3>
<p class="prebooking-intro"><%= @movie_details.genre %></p>
<br /><br />
</div>

</div>
</div>
</div>
</div>


<center>
	<div class="panel">
	<div class="small-11 small-centered columns">

<h1 class="title-prebooking">Available Shows</h1><hr>
<p class="prebooking-intro">Please select the show you would like to attend by clicking on 'Book'</p>

<table>
<tr>
<th>Cinema</th>
<th>Time</td>
<th>Date</td>
<th> </th>
</tr>

<tr>
<% @shows.each do |show| %>

<td> <%= link_to show.cinema.name, :controller => "cinemas", :action => "show", :id => show.cinema.id %> </td> 
<td> <%= link_to show.show_time.strftime("%H:%M:%S"), :controller => "shows", :action => "show", :id => show.id %> </td> 
<td> <%= link_to show.show_date, :controller => "shows", :action => "show", :id => show.id %> </td> 
<td> <%= link_to "Book", {:controller => "bookings", :action => "new", :show_id => show.id}, :class => 'button second' %> </td>


</tr>
<% end %>
<br />
</table>
<br />
</center>

</div>
	


	</div>

 


<% end %>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>