</br></br></br></br></br></br></br></br>
<center>

	<h1 class="title-prebooking"> Your Dashboard </h1><hr></br>



<div class="panel">
	
	<ul class="large-block-grid-4">
		
<li>		
<div class="dashicons"><img src="/assets/cinema-icon.png"></div>
<%= link_to "Add Cinema", :controller => "cinemas", :action => "new",  :class => 'button' %></br>
<%= link_to "Update Cinema Details", :controller => "cinemas", :action => "index",  :class => 'button' %>
</li>

<li> 
<div class="dashicons"><img src="/assets/theater-icon.png"></div>
<%= link_to "Add Theater", :controller => "theaters", :action => "new",  :class => 'button' %></br>
<%= link_to "Update Theater Details", :controller => "theaters", :action => "index",  :class => 'button' %>
</li>

<li>
<div class="dashicons"><img src="/assets/movie-icon.png"></div>
<%= link_to "Add Movie", :controller => "movies", :action => "new",  :class => 'button' %></br>
<%= link_to "Update Movie Details", :controller => "movies", :action => "index",  :class => 'button' %>
</li>

<li>
<div class="dashicons"><img src="/assets/show-icon.png"></div>
<%= link_to "Add Show", :controller => "shows", :action => "new",  :class => 'button' %></br>
<%= link_to "Update Show Details", :controller => "shows", :action => "index",  :class => 'button' %>
</li>


</ul>
</div>
</center>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>