<center>
 

 

 

	</br></br></br></br></br></br></br></br>

		<div class="large-9 small-centered columns">
	<center>
	<h1 class="title-prebooking">Customer Reward Points</h1>

	<hr>

<a href="/rewardsystem"><h5>Hello <%= @user.name %>!   You have <%= @user.reward_points %>  points</h5></a>

<h3> Available Rewards </h3>


<% if @user.reward_points > 15%>
<div class="panel">
<table>
  <tr>
    <th>Reward title</th>
    <th>Reward points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rewards.each do |reward| %>
  <tr>
    <td><%= reward.reward_title %></td>
    <td><%= reward.reward_points %></td>
    <td><%= link_to 'Details', reward %></td>
    <td><%= link_to "Redeem", {:controller=> :rewards, :action => :redeem, :id => reward.id, :remote => true } %>  </td>  
  </tr>
<% end %>
</table>

<br />
<% else %>
<div class="panel">
<h5> Seems like you don't have enough points for any rewards! </h5>
</br>
</div>
<%end%>

</div>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</center>