
</br></br></br>
<div class="row">
    <div class="large-12 columns">
 
 
 
 
 
      <!-- Thumbnails -->
 
        <div class="row">
 
          <div class="large-3 small-6 columns">
            <img src="http://collider.com/wp-content/uploads/oz-the-great-and-powerful-poster4.jpg">
            <div class="panel">
              <p>
				  <div class="field">
				    <h5><%= "Movie Title: " %> <br /></h5><%=  " Oz the Great & Powerful " %><br /> 
				    <h5><%= "Movie genre: " %><br /> </h5><%=  " Adventure, Family " %>
				  </div>
				</br>
				<div class="row">
				  <div class="large-6 columns">	<a href="/bookings/new" class="tiny button">Book Ticket</a></div>
				  <div class="large-6 columns">
				<a href="http://www.youtube.com" class="tiny button">Watch Trailer</a></div>
				</div>
			
	</p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://t0.gstatic.com/images?q=tbn:ANd9GcSNKGDaCj58sa9Ik-BmLOmeahDxUCjQ1rlZZtCbzgxqzFV1kTPR">
            <div class="panel">
              <p>	  <div class="field">
				    <h5><%= "Movie Title: " %> <br /></h5><%=  " Oz the Great & Powerful " %><br /> 
				    <h5><%= "Movie genre: " %><br /> </h5><%=  " Adventure, Family " %>
				  </div>
				</br>
				<div class="row">
				  <div class="large-6 columns">	<a href="/bookings/new" class="tiny button">Book Ticket</a></div>
				  <div class="large-6 columns">
				<a href="http://www.youtube.com" class="tiny button">Watch Trailer</a></div>
				</div></p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://www.scificool.com/images/2012/11/Escape-from-Planet-Earth-2013-Movie-Poster.jpg">
            <div class="panel">
              <p>	  <div class="field">
				    <h5><%= "Movie Title: " %> <br /></h5><%=  " Oz the Great & Powerful " %><br /> 
				    <h5><%= "Movie genre: " %><br /> </h5><%=  " Adventure, Family " %>
				  </div>
				</br>
				<div class="row">
				  <div class="large-6 columns">	<a href="/bookings/new" class="tiny button">Book Ticket</a></div>
				  <div class="large-6 columns">
				<a href="http://www.youtube.com" class="tiny button">Watch Trailer</a></div>
				</div></p>
            </div>
          </div>
 
          <div class="large-3 small-6 columns">
            <img src="http://www.scificool.com/images/2012/11/The-Host-2013-Movie-Poster1.jpg">
            <div class="panel">
              <p>	  <div class="field">
				    <h5><%= "Movie Title: " %> <br /></h5><%=  " Oz the Great & Powerful " %><br /> 
				    <h5><%= "Movie genre: " %><br /> </h5><%=  " Adventure, Family " %>
				  </div>
				</br>
				<div class="row">
				  <div class="large-6 columns">	<a href="/bookings/new" class="tiny button">Book Ticket</a></div>
				  <div class="large-6 columns">
				<a href="http://www.youtube.com" class="tiny button">Watch Trailer</a></div>
				</div></p>
            </div>
          </div>

		<div class="large-3 small-6 columns">
            <img src="http://www.cgramp.com/media/2012/10/THE-SMURFS-2-%E2%80%93-New-Cool-Poster-01.jpg">
            <div class="panel">
              <p>	  <div class="field">
				    <h5><%= "Movie Title: " %> <br /></h5><%=  " Oz the Great & Powerful " %><br /> 
				    <h5><%= "Movie genre: " %><br /> </h5><%=  " Adventure, Family " %>
				  </div>
				</br>
				<div class="row">
				  <div class="large-6 columns">	<a href="/bookings/new" class="tiny button">Book Ticket</a></div>
				  <div class="large-6 columns">
				<a href="http://www.youtube.com" class="tiny button">Watch Trailer</a></div>
				</div></p>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://www.flicksandbits.com/wp-content/uploads/2012/07/man-of-steel-2013-movie-poster.jpg">
            <div class="panel">
              <p>	  <div class="field">
				    <h5><%= "Movie Title: " %> <br /></h5><%=  " Oz the Great & Powerful " %><br /> 
				    <h5><%= "Movie genre: " %><br /> </h5><%=  " Adventure, Family " %>
				  </div>
				</br>
				<div class="row">
				  <div class="large-6 columns">	<a href="/bookings/new" class="tiny button">Book Ticket</a></div>
				  <div class="large-6 columns">
				<a href="http://www.youtube.com" class="tiny button">Watch Trailer</a></div>
				</div></p>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://www.mightythorlibrary.com/superhero-library/Img/Movies/mighty-thor-movie-poster-2013.jpg">
            <div class="panel">
              <p>	  <div class="field">
				    <h5><%= "Movie Title: " %> <br /></h5><%=  " Oz the Great & Powerful " %><br /> 
				    <h5><%= "Movie genre: " %><br /> </h5><%=  " Adventure, Family " %>
				  </div>
				</br>
				<div class="row">
				  <div class="large-6 columns">	<a href="/bookings/new" class="tiny button">Book Ticket</a></div>
				  <div class="large-6 columns">
				<a href="http://www.youtube.com" class="tiny button">Watch Trailer</a></div>
				</div></p>
            </div>
          </div>

          <div class="large-3 small-6 columns">
            <img src="http://horrornews.net/wp-content/uploads/2012/08/Scare-Dares-2013.jpg">
            <div class="panel">
              <p>	  <div class="field">
				    <h5><%= "Movie Title: " %> <br /></h5><%=  " Oz the Great & Powerful " %><br /> 
				    <h5><%= "Movie genre: " %><br /> </h5><%=  " Adventure, Family " %>
				  </div>
				</br>
				<div class="row">
				  <div class="large-6 columns">	<a href="/bookings/new" class="tiny button">Book Ticket</a></div>
				  <div class="large-6 columns">
				<a href="http://www.youtube.com" class="tiny button">Watch Trailer</a></div>
				</div></p>
            </div>
          </div>

        </div>
 
      <!-- End Thumbnails -->
 
 
 
 
    </div>
  </div>
