
<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :customer_id, :value => @current_user.id %>
<%= f.hidden_field :date, :value => DateTime.now %>





	<div class="row">
		<div class="small-6 small-centered columns">

				<div class="row collapse">
					<div class="two columns">
			          <center><h4>Total Price in Qatari Riyals</h4></center>
			        </div>
			          <%= f.text_field :amount, :value => @booking.price * @numtickets, :readonly => true, :class => 'amount' %>
			 </div>
		        </div>
		 </div>			
			

			      

			<div class="row">
				<div class="small-11 small-centered columns">			
			
<div class="panel ">
	
	<div class="row">  
	<div class="six columns">  

	            <fieldset> 
		<legend>Payment Information</legend>
					<div class="large-12 columns">
						<p class="prebooking-intro">Billing Address</p>
				<%= f.text_field :billing_address %>
	</div>
	<div class="row">
					<div class="large-4 columns">
						<p class="prebooking-intro">Credit Card Number</p>
				<%= f.text_field :creditcard_num %>
	</div>
	
					<div class="large-4 columns">
						<p class="prebooking-intro">Credit Card Type</p>
				<%= f.text_field :creditcard_type %>
	</div>

					<div class="large-4 columns">
						<p class="prebooking-intro">Three Digit Code</p>
				<%= f.text_field :CVV %>
	</div>
<br/>	</div>
<br/>	            </fieldset>  

<br/>	</div>  
<br/>	</div>

<br/> </div>
</div>

<br/>
<center>
<input type="Submit" value="Submit" class="button"> 
</center>
<% end %>
<br/><br/><br/><br/><br/><br/><br/><br/>
</div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>