
<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="large-12 columns">
      <label>Show Time</label>
    <%= f.time_select :show_time %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Show Date</label>
    <%= f.date_select :show_date %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Show Type</label>
    <%= f.text_field :show_type %>
    </div>
  </div>

  
  </div>


  <div class="row">
    <div class="large-12 columns">
      <label>Theater ID</label>
    <%= f.grouped_collection_select :theater_id, Cinema.order(:name), :theaters, :name, :id, :theater_number, include_blank: true %>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Movie Title</label>
<%= f.text_field :movie_title, data: {autocomplete_source: Movie.order(:title).map(&:title)} %>
    </div>
  </div>

   </div>

<br/>
<br/>
<center>
<input type="Submit" value="Submit" class="button"> 
</center>
<% end %>
