<%= form_for(@theater) do |f| %>
  <% if @theater.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@theater.errors.count, "error") %> prohibited this theater from being saved:</h2>

      <ul>
      <% @theater.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="large-9 small-centered columns">
      <label>Cinema ID</label>
	    <%= select :theater, :cinema_id, Cinema.all.map {|c| [c.name, c.id]}, :include_blank => 'None' %>
    </div>
  </div>


  <div class="row">
    <div class="large-9 small-centered columns">
      <label>Theater Number/Name</label>
	    <%= f.text_field :theater_number %>
    </div>
  </div>


<br/>
<br/>
<center>
<input type="Submit" value="Submit" class="button"> 
</center>
<% end %>


</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>

