<center>
</br></br></br></br></br></br></br>
<div class="row">
	<div class="large-9 small-centered columns">
<center>
<h1 class="title-prebooking">Listing Cinemas</h1>
<hr>

</div></div>

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
  
  </tr>

<% @cinemas.each do |cinema| %>
  <tr>
    <td><%= cinema.name %></td>
    <td><%= cinema.location %></td>

<% if can? :manage, @cinema %>
    <td><%= link_to 'Show', cinema %></td>
    <td><%= link_to 'Edit', edit_cinema_path(cinema) %></td>
    <td><%= link_to 'Destroy', cinema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if can? :manage, @cinema %>
<%= link_to 'New Cinema', new_cinema_path, :class => 'button' %>
<% end %>
</center>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>