<div class="row">
<div class="small-2 large-4 columns">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cinema.name %>
</p>

<p>
  <b>Location:</b>
  <%= @cinema.location %>
</p>
</div>
</div>
<center>
<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
</center>