<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">

		<div class="row">
		  <div class="small-6 small-centered columns">
				<div id="logo">
				        <a href="\">
				            <img src="assets/Tickety2.jpg" alt="Logo for Tickety" /></a>
				    </div>
			</div>
		</div>
		
<!-- navigation>

<!-- Navigation -->

  <nav class="top-bar">

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <li class="has-dropdown">
          <%= link_to "Home", root_path %>
          <ul class="dropdown">
            <li><label>ّInformation</label></li>

			<li><%= link_to "Website", webinfo_path %></li>
			<li><%= link_to "Policies", policies_path %></li>
			<li><%= link_to "Creators", creators_path %></li>
            <li class="divider"></li>
          </ul>
        </li>
        <li class="divider"></li>
	        <li class="has-dropdown">
	          <a href="#">Currently Showing</a>
	          <ul class="dropdown">
	            <li><label>Sort By</label></li>

	<li><%= link_to "Cinema", cinemas_path %></li>
	<li><%= link_to "Show All", movies_path %></li>
	            <li class="divider"></li>
	          </ul>
	        </li>
		<li class="divider"></li>
<li><%= link_to "New Releases", movies_path %></li>
		<li class="divider"></li>
<li><%= link_to "Customer Reward System", rewardsystem_path %></li>
        <li class="divider"></li>
		<li class="divider"></li>
<li><%= link_to "Login", login_path %></li>
      </ul>
    </section>
  </nav>



	  <!-- End Top Bar -->

    </div>
  </div>
</header>