<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>   

</head>
<body>
  <div id="nav">
	<%= render 'layouts/header' %>

  </div>
  <div>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
  </div>
  <div class="container">
    <%= yield %>
	<%= render 'layouts/footer' %>
  </div>

</body>
</html>
